doctype 5
html
  head
    title='Kim Kwanka\'s ' + title
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    .stickyFooterWrapper
      header
        .container        
          .row          
              .column.column-50.column-offset-25
                a(href='//kimkwanka.com' target='_blank' style='text-align:center') Kim Kwanka's
                h1=title
      .container        
        .row          
          .column.column-50.column-offset-25          
            blockquote
              h2 User stories:
              p 1) I can pass a URL as a parameter and I will receive a shortened URL in the JSON response.
              p 2) If I pass an invalid URL that doesn't follow the valid http://www.example.com format, the JSON response will contain an error instead.
              p 3) When I visit that shortened URL, it will redirect me to my original link.
            
            h3 Example usage:
            pre: code=url+'/https://www.google.com'
            pre: code=url+'/https://google.com'
            pre: code=url+'/www.google.com'
            pre: code=url+'/google.com'

            h3 Example output:
            pre: code { "shorturl":"http://shortgurl.herokuapp.com/-qzx08e", "url":"https://www.google.com" }

            h3 Usage:
            pre: code http://shortgurl.herokuapp.com/-qzx08e
            h3 Will redirect to:
            pre: code https://www.google.com
    footer
          a(href='https://github.com/kimkwanka/fcc-shorturl' target='_blank') View source on Github
